:root {
  --slidev-code-margin: 1rem 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1.5rem;
  font-weight: bold;
}

li {
  margin: 0.5rem;
}

ol {
  list-style-type: decimal;
}

.slidev-layout.two-columns {
  gap: 2rem;
}

.slidev-monaco-container-inner {
  max-height: 480px !important;
}